body {
    background-color: rgb(238, 210, 179);
}
.header{
    background-image: url("Resources/backgroung-img-header.img");
}
.header__logo {
    height: 50px;
    display: inline;
    margin: auto;
    float: left;
}

.header__title {
    color: rgb(17, 0, 255);
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(2, 2, 37);
}

.nav {
    background-color: rgba(22, 54, 236, 0.548);
    border: 1px solid black;
    margin: 5px 0px;
    padding: 5px;
}

.nav li {
    margin-left: 5px;
    display: inline;
    padding: 2px;
}

.nav__burger {
    float: right;
}

.main {
    border: 2px solid black;
    overflow-x: scroll;
    margin: auto;
    /*height: px;*/

}
.main__book{
    margin:10px;
    display: inline;
    float: left;
}

.footer {
    background-color: rgba(22, 54, 236, 0.548);
    border: 2px solid black;
    margin: 3px;
    padding: 3px;
}