body {
    background-color: rgb(238, 210, 179);
}
header{
    height: 100px;
    margin: auto;
    background-color: rgb(105, 161, 40);
    /*background-image: url("../Resources/backgroung-img-header.img");*/
}
.header__logo {
    position: relative;
    top: 24px;
    left: 10px;
    height: 50px;
    display: inline;
    margin: auto;
    float: left;
}

.header__title {
    position: relative;
    max-width: 50px;
    top: 24px;
    color: rgb(17, 0, 255);
    font-family: "Courier New", Courier, monospace;
    font-size: 7vw;;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(2, 2, 37);
}

.nav {
    border-radius: 5px;;
    background-color: rgba(22, 54, 236, 0.7);
    border: 1px solid black;
    margin: 5px 0px;
    padding: 5px;
    
    position: sticky;
    top: 0;
}

.nav li {
    position: relative;
    bottom:1px;
    margin-left: 5px;
    display: inline;
    padding: 2px;
}

.nav__burger {
    float: right;
}

.main {
    border: 2px solid black;
    overflow-x: scroll;
    margin: auto;
    /*height: px;*/

}
.main__book{
    margin:10px;
    display: inline;
    float: left;
}
.goTop{
    position: fixed;
    bottom: 50px;
    right: 14px;
    border: 1px solid black;
    border-radius: 50%;
    background-color:rgb(223, 71, 71);
    height: 35px;
    width:35px;
}
.material-symbols-outlined{
    position: relative;
    top: 3px;
    left: 5px;
}
.footer {
    background-color: rgba(22, 54, 236, 0.548);
    border: 2px solid black;
    margin: 3px;
    padding: 3px;
}